<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pbdcompany.mapper.ProductMapper">

    <!-- 通用查询字段 -->
    <sql id="Base_Column_List">
        <trim>
        ProductID, CategoryID, MerchantID, ProductName, Description, Price
        </trim>
    </sql>

    <!-- 结果映射 -->
    <resultMap id="ProductResultMap" type="com.pbdcompany.entity.Product">
        <id property="productId" column="ProductID"/>
        <result property="categoryId" column="CategoryID"/>
        <result property="merchantId" column="MerchantID"/>
        <result property="productName" column="ProductName"/>
        <result property="description" column="Description"/>
        <result property="price" column="Price"/>
    </resultMap>

    <select id="findByMerchantId" resultType="com.pbdcompany.entity.Product">
        SELECT *
        FROM product
        WHERE MerchantID = #{merchantId}
    </select>

    <!-- 根据分类 ID 查询商品 -->
    <select id="findByCategoryId" resultType="com.pbdcompany.entity.Product">
        SELECT *
        FROM product
        WHERE CategoryID = #{categoryId}
    </select>

    <!-- 根据商品名称模糊查询 -->
    <select id="findByNameLike" resultType="com.pbdcompany.entity.Product">
        SELECT *
        FROM product
        WHERE ProductName LIKE CONCAT('%', #{name}, '%')
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="productId">
        INSERT INTO product (
            categoryid,
            merchantid,
            productname,
            description,
            price
        ) VALUES (
                     #{categoryId},
                     #{merchantId},
                     #{productName},
                     #{description},
                     #{price}
                 )
    </insert>
    <!-- 修改商品信息 -->
    <update id="update">
        UPDATE product
        SET
            productname = #{productName},
            description = #{description},
            price = #{price},
            categoryid = #{categoryId}
        WHERE productid = #{productId}
    </update>

    <!-- 删除商品 -->
    <delete id="deleteById">
        DELETE FROM product
        WHERE productid = #{productId}
    </delete>

    <!-- 根据 ID 查询商品 -->
    <select id="findById" resultType="com.pbdcompany.entity.Product">
        SELECT *
        FROM product
        WHERE productid = #{productId}
    </select>

    <!-- 根据 ID 查询商品 -->
    <select id="findAll" resultType="com.pbdcompany.entity.Product">
        SELECT *
        FROM product
    </select>

    <select id="getProductById" resultType="com.pbdcompany.dto.response.ProductInfoResponse">
        SELECT p.ProductID,
               p.ProductName,
               p.Description,
               p.Price,
               p.CategoryID,
               p.MerchantID
        FROM product p
        WHERE p.ProductID = #{productId}
    </select>


</mapper>