<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pbdcompany.mapper.ProductImageMapper">

    <!-- 通用查询字段 -->
    <sql id="Base_Column_List">
        <trim>ProductImageID, ProductID, Image</trim>

    </sql>

    <!-- 结果映射 -->
    <resultMap id="ProductImageResultMap" type="com.pbdcompany.entity.ProductImage">
        <id property="productImageId" column="ProductImageID"/>
        <result property="productId" column="ProductID"/>
        <result property="image" column="Image"/>
    </resultMap>

    <select id="findImagesByProductId" resultType="string">
        SELECT image
        FROM productimage
        WHERE ProductID = #{productId}
    </select>

    <insert id="insert">
        INSERT INTO productimage (
            productid,
            image
        ) VALUES (
                     #{productId},
                     #{image}
                 )
    </insert>

</mapper>