<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pbdcompany.mapper.ProductImageMapper">

    <!-- 通用查询字段 -->
    <sql id="Base_Column_List">
        <trim>ProductImageID, ProductID, Image</trim>

    </sql>

    <!-- 结果映射 -->
    <resultMap id="ProductImageResultMap" type="com.pbdcompany.entity.ProductImage">
        <id property="productImageId" column="ProductImageID"/>
        <result property="productId" column="ProductID"/>
        <result property="image" column="Image"/>
    </resultMap>

    <!-- 查询所有商品图片 -->
    <select id="findAll" resultMap="ProductImageResultMap">
        select
        <include refid="Base_Column_List"/>
        from productImage
    </select>

    <!-- 根据ID删除商品图片 -->
    <delete id="deleteById">
        delete from productImage
        where ProductImageID = #{id}
    </delete>

    <!-- 插入商品图片 -->
    <insert id="insert" useGeneratedKeys="true" keyProperty="productImageId">
        insert into productImage
        (
        <include refid="Base_Column_List"/>
        )
        values
        (
        #{productImageId},
        #{productId},
        #{image}
        )
    </insert>

    <!-- 动态更新商品图片信息 -->
    <update id="update">
        update productImage
        <set>
            <if test="productId != null">
                ProductID = #{productId},
            </if>
            <if test="image != null and image.trim() != ''">
                Image = #{image},
            </if>
        </set>
        where ProductImageID = #{productImageId}
    </update>

    <!-- 根据ID查询商品图片 -->
    <select id="findById" resultMap="ProductImageResultMap">
        select
        <include refid="Base_Column_List"/>
        from productImage
        where ProductImageID = #{id}
    </select>

</mapper>